<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enginious.snowblossom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".BottomNavigationActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectServerActivity"
            android:theme="@style/Theme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".TransactionsActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".ServersActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".LanguagesActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity android:name=".activities.SendActivity" />
        <activity android:name=".activities.ReceiveActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity android:name=".activities.SettingActivity" />

        <service android:name=".Services.BalanceService" />

        <activity android:name=".activities.WalletActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity
            android:name=".activities.InitLanugageActivity"
            android:configChanges="locale|orientation"
            android:theme="@style/Theme.NoActionBar" />
        <activity android:name=".activities.TransactionDetailActivity"
            android:theme="@style/Theme.NoActionBar"></activity>
    </application>

</manifest>